<!--<ng-container *ngIf="optionsToDisplay"> 
  <div
    *ngFor="
      let option of getDisplayOptions();
      let idx = index;
      trackBy: trackByOption
    "
  >
    <label class="options">
      <mat-radio-button
        appHighlight
        [appHighlightInputType]="'radio'"
        [appHighlightReset]="shouldResetBackground"
        [appResetBackground]="shouldResetBackground"
        [shouldResetBackground]="shouldResetBackground"
        #highlightDirective
        [checked]="isSelectedOption(option)"
        (click)="selectOption(currentQuestion, option)"
        [isCorrect]="option.correct"
        [disabled]="option.selected"
      >
        <span>{{ idx + 1 }}.  {{ option?.text }}</span>

        <mat-icon
          *ngIf="isSelectedOption(option)">
          {{ getFeedbackIcon(option) }}
        </mat-icon>
      </mat-radio-button>
      
      <codelab-quiz-feedback
        *ngIf="showFeedback && selectedOption === option"
        [question]="currentQuestion"
        [selectedOption]="selectedOption"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [options]="data?.options"
      ></codelab-quiz-feedback>
    </label>
  </div>
</ng-container> -->

<ng-container *ngIf="optionsToDisplay">
  <div
    *ngFor="
      let option of getDisplayOptions();
      let idx = index;
      trackBy: trackByOption
    "
  >
    <label class="options">
      <mat-radio-button
        appHighlight
        [appHighlightInputType]="'radio'"
        [appHighlightReset]="shouldResetBackground"
        [appResetBackground]="shouldResetBackground"
        [shouldResetBackground]="shouldResetBackground"
        #highlightDirective
        [checked]="isSelectedOption(option)"
        (click)="selectOption(currentQuestion, option, idx)"
        [isCorrect]="option.correct"
        [disabled]="option.selected"
      >
        <span>{{ idx + 1 }}.  {{ option?.text }}</span>

        <mat-icon
          *ngIf="isSelectedOption(option)">
          {{ getFeedbackIcon(option) }}
        </mat-icon>
      </mat-radio-button>
      
      <codelab-quiz-feedback
        *ngIf="showFeedback && selectedOption === option"
        [question]="currentQuestion"
        [selectedOption]="selectedOption"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [options]="data?.options"
      ></codelab-quiz-feedback>
    </label>
  </div>
</ng-container>


