<app-shared-option
  [optionsToDisplay]="optionsToDisplay"
  [type]="'single'"
  [shouldResetBackground]="shouldResetBackground"
  [selectedOption]="selectedOption"
  [showFeedbackForOption]="showFeedbackForOption"
  [currentQuestion]="currentQuestion"
  [correctMessage]="correctMessage"
  [showFeedback]="showFeedback"
  (optionClicked)="onOptionClicked($event.option, $event.index)"
></app-shared-option>


<!--<ng-container *ngIf="optionsToDisplay">
  <div
    *ngFor="
      let option of optionsToDisplay;
      let idx = index;
      trackBy: trackByOption
    "
  >
    <label class="options">
      <mat-radio-button
        appHighlightOption
        [appHighlightInputType]="'radio'"
        [appHighlightReset]="shouldResetBackground"
        [appResetBackground]="shouldResetBackground"
        [shouldResetBackground]="shouldResetBackground"
        [checked]="isSelectedOption(option)"
        (click)="onOptionClicked(option, idx)"
        [isCorrect]="option.correct"
        [disabled]="option.selected"
      >
        <span>{{ idx + 1 }}.  {{ option?.text }}</span>

        <span class="icon"
          appFeedbackIcon
          [option]="option"
          [index]="idx"
          [selectedOption]="selectedOption"
          [showFeedbackForOption]="showFeedbackForOption">
        </span>
      </mat-radio-button>
      
      <codelab-quiz-feedback
        
        [question]="currentQuestion"
        [selectedOption]="selectedOption"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [options]="data?.options"
      ></codelab-quiz-feedback>
    </label>
  </div>
</ng-container>-->
