<ng-container *ngIf="optionsToDisplay">
  <div
    *ngFor="
      let option of options;
      let idx = index;
      trackBy: trackByOption
    "
  >
    <label class="options">
      <mat-radio-button
        appHighlightOption
        [appHighlightInputType]="'radio'"
        [appHighlightReset]="shouldResetBackground"
        [appResetBackground]="shouldResetBackground"
        [shouldResetBackground]="shouldResetBackground"
        #highlightDirective
        [checked]="isSelectedOption(option)"
        (click)="selectOption(currentQuestion, option, idx)"
        [isCorrect]="option.correct"
        [disabled]="option.selected"
      >
        <span>{{ idx + 1 }}  {{ option?.text }}</span>

        <span class="icon"
          *ngIf="shouldShowIcon(option)"
          appFeedbackIcon
          [option]="option"
          [index]="idx"
          [selectedOption]="selectedOption"
          [showFeedbackForOption]="showFeedbackForOption">
        </span>
      </mat-radio-button>
      
      <codelab-quiz-feedback
        *ngIf="showFeedback && selectedOption === option"
        [question]="currentQuestion"
        [selectedOption]="selectedOption"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [options]="data?.options"
      ></codelab-quiz-feedback>
    </label>
  </div>
</ng-container>
