@import "../../../../variables";

#question {
  float: left;
  font-family: $font-stack;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 35px 6.5px;
  padding: 5px 10px 15px 20px;
  background-color: $light-gray;
  border: 2px solid $vivid-blue;
  color: $dark-brown;
  width: 630px;
  height: auto;
  vertical-align: middle;

  h3 {
    margin-top: 5px;

    .number-correct {
      color: $dark-green;
      font-style: italic;
    }
  }
}