<ng-container *ngIf="combinedQuestionData$ | async as combinedData">
  <section id="question">
    <h3 question-content>
      <span *ngIf="combinedText$ | async as combinedText; else questionDisplay">
        {{ combinedText }}
      </span>

      <ng-template #questionDisplay>
        <span *ngIf="questionToDisplay">{{ questionToDisplay }}</span>
        <span *ngIf="!questionToDisplay">Loading question...</span>
        <p>{{ explanationToDisplay }}</p>
      </ng-template>

      <span class="number-correct" *ngIf="shouldDisplayCorrectAnswers">
        {{ correctAnswersText$ | async }}
      </span>
    </h3>
  </section>
</ng-container>
