$font-stack: Space Mono, monospace;
$font-weight-max: 900;

.badge {
  float: left;
  margin: 20px 10px 0 100px;
  font-family: $font-stack;
  font-size: 24px;
  font-weight: $font-weight-max;
  font-style: italic;
}
