<ng-container *ngIf="selectedQuiz && (questions$ | async) as questions">
  <mat-card
    [@changeRoute]="animationState$ | async"
    (@changeRoute.done)="animationDoneHandler()"
  >
    <mat-card-header>
      <img
        mat-card-avatar
        class="header-image"
        loading="lazy"
        [routerLink]="['/select']"
        matTooltip="back to Codelab Quiz Selection"
        matTooltipPosition="left"
      />
      <div class="header-titles">
        <mat-card-title i18n
          >{{
            selectedQuiz?.milestone || 'No questions found'
          }}
          Quiz</mat-card-title
        >
        <mat-card-subtitle i18n
          >Assess your knowledge of
          {{
            selectedQuiz?.milestone || 'No questions found'
          }}</mat-card-subtitle
        >
      </div>
    </mat-card-header>

    <mat-card-content>
      <!-- the scoreboard -->
      <codelab-scoreboard></codelab-scoreboard>

      <!-- the question/explanation section -->
      <section id="question">
        <app-question-state
          [isAnswered]="isAnswered()"
          [questionText]="selectedQuiz.questionText"
          [numberOfCorrectAnswers]="numberOfCorrectAnswers"
          [correctOptions]="correctOptions"
          [explanationText]="explanationText"
        ></app-question-state>
      </section>

      <!-- the options -->
      <codelab-quiz-question
        *ngIf="question"
        [question]="question"
        (answer)="selectedAnswer($event)"
        [answers]="answers"
        (onOptionSelected)="onOptionSelected($event)"
        (formReady)="form = $event"
        [currentQuestionIndex]="currentQuestionIndex"
        [multipleAnswer]="selectedQuiz.multiple"
        [questionIndex]="i"
      >
      </codelab-quiz-question>
    </mat-card-content>

    <mat-card-footer [ngClass]="cardFooterClass">
      <!-- selection message/next message -->
      <ng-container [ngSwitch]="isAnswered()">
        <span *ngSwitchCase="false" i18n class="selection-message">
          Please select an option to continue&hellip;
        </span>
        <span
          *ngSwitchCase="true"
          i18n
          class="next-message"
          [hidden]="questionIndex === totalQuestions"
        >
          Please click the next button to continue&hellip;
        </span>
      </ng-container>

      <!-- paging -->
      <section class="paging">
        <mat-card-actions
          [class.last-question]="shouldApplyLastQuestionClass()"
        >
          <div class="prev-question-nav" [hidden]="shouldHidePrevQuestionNav()">
            <button
              type="button"
              mat-icon-button
              (click)="advanceToPreviousQuestion()"
              (window:keydown.ArrowLeft)="advanceToPreviousQuestion()"
              matTooltip="&laquo; Previous Question"
              matTooltipPosition="above"
              aria-label="Previous Question"
            >
              <i class="material-icons">navigate_before</i>
            </button>
          </div>

          <div class="restart-nav" [hidden]="shouldHideRestartNav()">
            <button
              type="button"
              mat-icon-button
              (click)="restartQuiz()"
              matTooltip="Restart Quiz"
              matTooltipPosition="above"
              aria-label="Restart Quiz"
            >
              <i class="material-icons">replay</i>
            </button>
          </div>

          <div
            class="next-question-nav"
            [hidden]="shouldHideNextQuestionNav()"
            matTooltip="Next Question &raquo;"
            matTooltipPosition="above"
          >
            <button
              type="button"
              mat-icon-button
              [disabled]="shouldDisableButton()"
              (click)="advanceToNextQuestion()"
              (window:keydown.ArrowRight)="advanceToNextQuestion()"
              (window:keydown.Enter)="advanceToNextQuestion()"
              aria-label="Next Question"
            >
              <i class="material-icons">navigate_next</i>
            </button>
          </div>

          <div class="show-score-nav" *ngIf="shouldHideShowScoreNav()">
            <button
              type="submit"
              mat-raised-button
              disableRipple="true"
              (click)="advanceToResults()"
              (window:keydown.Enter)="advanceToResults()"
              (window:keydown.ArrowRight)="advanceToResults()"
              class="btn btn-outline-primary"
              aria-label="Show Your Score"
            >
              <i class="material-icons">score</i>&nbsp;&nbsp;<strong
                >Show Your Score</strong
              >
            </button>
          </div>
        </mat-card-actions>
      </section>

      <!-- progress bar -->
      <section class="progress-bar" *ngIf="shouldHideProgressBar()">
        <ngb-progressbar
          max="100"
          type="success"
          [striped]="true"
          [animated]="true"
          [value]="progressValue"
          class="progress-bar bg-info"
        >
          <strong>{{ progressValue.toFixed(0) }}%</strong>
        </ngb-progressbar>
      </section>
    </mat-card-footer>
  </mat-card>
</ng-container>
