@import "../../../_variables.scss";

mat-card-header {
  display: block;

  .header-image {
    margin-left: 10px;
  }

  mat-card-title {
    font-size: 30px;
    text-align: center;
    margin: 0 0 0 -50px;
  }

  mat-card-subtitle {
    font-size: 48px !important;
    font-weight: 900;
    margin-left: -50px !important;
    color: $color-green;
  }
}

.results {
  display: block;
  clear: both;

  h3 {
    text-align: center;
  }
  img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .statistics {
    h3, span, .quiz-feedback, div span {
      text-align: center;
    }

    span {
      display: block;
    }

    span.your-score, span.elapsed-time {
      font-size: 18px;
      font-weight: bold;
    }

    .percent-sign {
      font-size: large;
      font-weight: $font-weight-max;
    }

    .progress-bar {
      width: 400px;
      margin: 0 auto;
      border-radius: 10px;
    }

    .quiz-feedback {
      margin-top: 20px;

      img {
        border-radius: 10px;
      }

      ul li {
        list-style-type: square;
        text-align: left;
        margin-left: 16%;
        width: 400px;
      }
    }
  }

  .quizSummary {
    display: flex;
    flex-direction: column;

    details {
      display: block;

      summary {
        font-size: 16px;
        color: $color-vivid-blue;
        font-weight: $font-weight-max;
        margin-bottom: 20px;
        outline: none;
        text-align: center;
      }

      mat-accordion {
        padding-bottom: 20px;

        mat-expansion-panel:hover {
          outline: $color-vivid-blue;
        }

        mat-panel-title {
          background-color: $color-light-gray !important;
          color: $color-black !important;
          white-space: nowrap;

          .question-leader {
            font-weight: $font-weight-max;
            color: #00008b;
            white-space: nowrap;
          }
          .question-text {
            font-weight: 700;
            font-style: italic;
            color: $color-black;
            white-space: nowrap;
          }
        }

        .accordion-icon {
          position: absolute;
          left: 0;
          margin: 0 0 0 25px;
          margin-left: -5px;
          color: $color-gray;
          font-weight: $font-weight-max;
          font-size: 20px;
        }

        .quiz-summary-question {
          font-family: $font-stack;
          font-size: 14px;
          border: 2px solid $color-chambray-blue;
          border-radius: 5px;
          color: $color-black;
          background-color: $color-light-gray;
          margin-bottom: 15px;
          padding: 10px;
          text-align: left;

          ul.quiz-summary-fields {
            display: block !important;
            margin-bottom: 10px;
            text-align: left;

            li {
              display: block;
              text-align: left;
              font-size: 16px;
              color: #00008b;
              margin: 0 0 5px -30px;
            }

            .leader {
              font-weight: $font-weight-max;
            }

            mat-icon {
              font-size: larger;
              top: 10px !important;
            }
            mat-icon.correct {
              color: $color-green !important;
              font-weight: $font-weight-max;
            }
            mat-icon.incorrect {
              color: $color-red !important;
              font-weight: $font-weight-max;
            }
          }
        }
      }
      .mat-accordion-buttons {
        display: flex;
        justify-content: center;

        button {
          margin-right: 10px;
        }
      }
    }
  }
}

.return {
  clear: left;
  text-align: center;
  margin-top: 10px;

  a.btn {
    margin-right: 15px;
    background-color: #20b2aa;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.challenge-social {
  text-align: center;

  .social-buttons {
    display: block;

    a.btn {
      text-decoration: none;
      margin-right: 20px;
      padding: 9px 15px 8px 42px;
      background: no-repeat 10px 5px;
      background-size: 25px 25px;
      color: white;
    }

    /* a.btn.facebook {
      background-color: $color-dark-blue;
      background-image: url('../../../../assets/images/facebook.gif');
      top: 10px !important;
    } */

    a.btn.twitter {
      background-color: $color-soft-blue;
      background-image: url('../../../../assets/images/twitter.svg');
      top: 10px !important;
    }

    a.btn.email {
      background-color: $color-fuel-yellow;
      background-image: url('../../../../assets/images/email.svg');
      top: 10px !important;
    }
  }
}

/* add ripple effect to buttons */
a.btn {
  position: relative;
  overflow: hidden;
}

a.btn::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple 1s;
  opacity: 0;
}
a.btn:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
