@import "../../../../variables";

.options {
  margin: 0 0 10px 6.5px;
  margin-bottom: 40px;
  padding: 5px;
  width: 39.5rem !important;

  .multipleAnswer {
    width: 39.5rem !important;

    mat-checkbox {
      cursor: pointer;
      width: 39.5rem !important;
      height: auto !important;
      font-family: $font-stack;
      font-size: 20px !important;
      color: $dark-brown;
      background-color: $light-gray;
      border: 2px solid $medium-gray;
      padding: 25px 5px 20px 30px;
      margin-left: -5px;
      vertical-align: middle;

      &:hover {
        border: 2px solid $vivid-blue;
      }
    }

    mat-checkbox-label {
      white-space: normal;
      margin-top: 5px;

      .feedback-icon {
        position: absolute;
        right: 0;
        margin: -5px 40px 0 0 !important;
      }
    }

    .messages {
      margin-bottom: -20px;

      .sentiment-icon {
        margin: 30px -50px 0 20px;
      }

      .wrong-message {
        margin-top: 20px;

        .sentiment-icon {
          float: left;
          margin-bottom: 90px;
        }
      }
    }

    .is-correct {
      background-color: $green;
    }

    .is-incorrect {
      background-color: $red;
    }
  }
}

::ng-deep .mat-checkbox {
  width: 630px !important;
}
