@import "../../../../_variables.scss";
@import "../../../../_mixins.scss";

.score {
  float: left;
  margin-left: 1rem;

  .leader {
    margin-left: 15px;
    margin-top: 5px;
  }

  span.scoreboard {
    margin: 5px 0 0 0px;
    margin-left: 20px;
  }
}
