<ng-container class="score-toolbar">
  <div class="mat-menu">
    <mat-toolbar>
      <button
        mat-button
        [matMenuTriggerFor]="displayScoreMenu"
        aria-label="Score display menu"
      >
        <span class="leader" i18n>Score &#x25BC;</span>
      </button>
      <mat-menu #displayScoreMenu="matMenu" xPosition="before">
        <button
          mat-menu-item
          name="numerical"
          data-i18n="numerical"
          aria-label="Display numerical score"
          (click)="toggleScoreDisplay('numerical')"
          i18n="@@numerical"
        >
          Numerical
        </button>
        <button
          mat-menu-item
          name="percentage"
          data-i18n="percentage"
          aria-label="Display percentage score"
          (click)="toggleScoreDisplay('percentage')"
          i18n="@@percentage"
        >
          Percentage
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
  <section class="scoreboard-score">
    <span class="scoreboard" i18n>
      {{ (currentScore$ | async) || 0 }}
    </span>
  </section>
</ng-container>