@import "../../../../_variables.scss";

.score {
  float: left;
  margin-left: 1rem;

  .leader {
    margin-left: 10px;
    margin-top: 5px;
    display: block;
    font-weight: $font-weight-max;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    top: -5px;
    padding: 0 10px;
    background-color: $color-pastel-green;
    border-radius: 5px;
  }

  span.scoreboard {
    font-family: 'DjbUpOnTheScoreboard', $font-stack;
    font-weight: $font-weight-max;
    font-size: 30px;
    color: $color-dark-green;
    display: inline-block;
    margin: -10px 0 0 15px;
    width: auto;
    margin-left: 20px;
  }
}
