<section class="message" *ngIf="feedbackConfig?.showFeedback">
  <div class="feedback-message" [ngClass]="feedbackMessageClass">
    <mat-icon class="material-icons" *ngIf="feedbackConfig.selectedOption?.correct; else wrongIcon">
      sentiment_very_satisfied
    </mat-icon>
    <ng-template #wrongIcon>
      <mat-icon class="material-icons wrong-icon">
        sentiment_very_dissatisfied
      </mat-icon>
    </ng-template>
    
    <span *ngIf="feedbackConfig.showFeedback">{{ displayMessage }}</span>
  </div>
</section>
