@import '../../../../variables';

.message {
  display: flex;
  justify-content: center;
  margin: -15px 15px 5px 0;
  padding-bottom: 20px;

  i {
    font-size: 30px;
    color: $light-yellow;
    position: relative;
    top: 10px;
    left: 25px;
  }

  span {
    font-family: $font-stack;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    margin: -100px 0 0 -15px !important;
    padding: 10px;
    width: 570px;
    display: inline-flex;
    justify-content: center;
    background: transparentize($light-gray, 0.5);
  }

  .correct-message {
    border-color: $vivid-blue;
    color: $dark-green;
  }

  .wrong-message {
    border-color: $red;
    color: $red;
  }

  .correct-message,
  .wrong-message {
    margin: -5px 0 15px 25px;
    border: 2px solid;
    border-radius: 10px;
    height: 50px;
  }
}

.material-icons {
  font-family: 'Material Icons', $font-stack;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
