<app-shared-option 
  *ngIf="optionsToDisplay?.length"
  [optionsToDisplay]="optionsToDisplay"
  [optionBindings]="optionBindingsSrc"
  [questionIndex]="currentQuestionIndex"
  [currentQuestionIndex]="currentQuestionIndex"
  [questionVersion]="questionVersion"
  [quizId]="quizId"
  [renderReady]="renderReady"
  [config]="sharedOptionConfig"
  [showFeedbackForOption]="showFeedbackForOption"
  [isNavigatingBackwards]="isNavigatingBackwards"
  (optionClicked)="onOptionClicked($event)"
  [attr.data-key]="questionVersion"
></app-shared-option>