<div class="container">
  <header class="row">
    <div class="logo">
      <a href="https://www.codelab.fun" title="Angular Codelab" target="_blank">
        <img
          mat-card-avatar
          class="header-image"
          ngSrc="assets/images/codelab_logo.jpeg"
          width="200"
          height="100"
          alt="Angular Codelab logo"
          loading="lazy" />
      </a>
    </div>

    <div class="intro-titles">
      <h1 i18n>Angular Codelab Quiz App</h1>
      <h4>How well do you know Angular? Find out!</h4>
    </div>

    <div class="info">
      <a
        href="https://github.com/codelab-fun/codelab/blob/master/README.md"
        target="_blank"
      >
        <mat-icon
          class="material-icons"
          matTooltip="Angular Codelab info"
          matTooltipPosition="right"
        >
          info
        </mat-icon>
      </a>
    </div>
  </header>

  <!-- Toolbar: Milestones Menu -->
  <div class="toolbar">
    <button [matMenuTriggerFor]="menu" aria-label="Milestones Menu">
      <span i18n>Milestones ▼</span>
    </button>

    <mat-menu #menu="matMenu" xPosition="before">
      <span style="margin-left: 10px" i18n>
        <strong>Select a Quiz…</strong>
      </span>

      @for (quiz of quizzes$ | async; track quiz?.quizId) {
        <button
          mat-menu-item
          [routerLink]="['/intro/', quiz?.quizId]"
        >
          {{ quiz?.milestone || 'Milestone not found' }}
        </button>
      }
    </mat-menu>
  </div>

  <!-- Quiz Tiles Grid -->
  <div class="quiz-grid">
    @for (quiz of quizzes$ | async; let i = $index; track quiz?.quizId) {
      <div
        class="quiz-tile"
        [@slideLeftToRight]="animationState$ | async"
        (@slideLeftToRight.done)="animationDoneHandler()"
        (click)="onSelect(quiz.quizId, i)"
        routerLinkActive="active"
        [ngStyle]="getQuizTileStyles(quiz)"
      >

        <summary class="quiz-info">
          <h5 class="quiz-title" i18n>
            {{ quiz?.milestone || 'Milestone not found' }}
          </h5>

          <h6 class="quiz-summary" i18n>
            {{ quiz?.summary || 'Summary not found' }}
          </h6>
        </summary>

        <div class="status-icon">
          <mat-card-actions>
            @if (shouldShowLink(quiz)) {
              <a
                [ngClass]="getLinkClass(quiz)"
                [matTooltip]="getTooltip(quiz)"
                [routerLink]="getLinkRouterLink(quiz)"
              >
                <mat-icon>{{ getIconClass(quiz) }}</mat-icon>
              </a>
            }
          </mat-card-actions>
        </div>
      </div>
    }
  </div>

  <!-- Footer -->
  <footer>
    <h3 i18n>
      Copyright © 2025
      <a target="_blank" href="https://www.codelab.fun">codelab.fun</a>
    </h3>
  </footer>
</div>

<!--
  <ion-page>
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-title>Angular Codelab Quiz App</ion-title>
        <ion-buttons slot="start">
          <ion-button href="https://www.codelab.fun" target="_blank">
            <ion-icon slot="icon-only" name="logo"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button href="https://github.com/codelab-fun/codelab/blob/master/README.md" target="_blank">
            <ion-icon slot="icon-only" name="information-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Angular Codelab Quiz App</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <h4>How well do you know Angular? Find out!</h4>

      <ion-item>
        <ion-label>Milestones</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option *ngFor="let quiz of quizzes$ | async" [value]="quiz?.quizId">{{ quiz?.milestone || "Milestone not found" }}</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="quiz-grid">
        <ion-card class="quiz-tile" *ngFor="let quiz of quizzes$ | async" (click)="onSelect(quiz.quizId)" [@slideLeftToRight]="animationState$ | async" (@slideLeftToRight.done)="animationDoneHandler()" routerLinkActive="active" [ngStyle]="getQuizTileStyles(quiz)" loading="lazy">
          <ion-card-header>
            <ion-card-title>{{ quiz?.milestone || "Milestone not found" }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ quiz?.summary || "Summary not found" }}
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-title>
          <a target="_blank" href="https://www.codelab.fun">codelab.fun</a>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-content>
</ion-page>-->