<ng-container *ngIf="optionsToDisplay">
  <div
    *ngFor="
      let option of getDisplayOptions();
      let i = index;
      trackBy: trackByFn
    "
  >
    <label class="options">
      <mat-checkbox
        appHighlight
        [appHighlightInputType]="'checkbox'"
        [appHighlightReset]="shouldResetBackground"
        [appResetBackground]="shouldResetBackground"
        [shouldResetBackground]="shouldResetBackground"
        #highlightDirective
        [checked]="isSelectedOption(option)"
        (click)="onOptionClick(option)"
        [isCorrect]="option?.correct"
      >
        <span class="option-letter" i18n>{{ i + 1 }}.</span>&nbsp;
        <span class="option-text">{{ option?.text }}</span>
      </mat-checkbox>

      <codelab-quiz-option-feedback
        *ngIf="isSelectedOption(option)"
        [correct]="option?.correct"
        [selected]="isSelectedOption(option)"
        [options]="data?.options"
      ></codelab-quiz-option-feedback>

      <codelab-quiz-feedback
        *ngIf="shouldDisplayFeedback(option)"        
        [question]="currentQuestion"
        [selectedOption]="option"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [options]="data?.options"
      ></codelab-quiz-feedback>
    </label>
  </div>
</ng-container>
