<ng-container *ngIf="optionsToDisplay">
  <div
    *ngFor="
      let option of getDisplayOptions();
      let idx = index;
      trackBy: trackByOption
    "
  >
    <label class="options">
      <mat-checkbox
        appHighlight
        [appHighlightInputType]="'checkbox'"
        [appHighlightReset]="shouldResetBackground"
        [appResetBackground]="shouldResetBackground"
        [shouldResetBackground]="shouldResetBackground"
        #highlightDirective
        [checked]="isSelectedOption(option)"
        (click)="onOptionClick(option, idx, $event)"
        [isCorrect]="option?.correct"
        [disabled]="option.selected"
      >
        <span>{{ idx + 1 }}.  {{ option?.text }}</span>

        <mat-icon
          *ngIf="isSelectedOption(option)">
          {{ getFeedbackIcon(option) }}
        </mat-icon>
      </mat-checkbox>

      <!--<codelab-quiz-option-feedback
        *ngIf="isSelectedOption(option)"
        [correct]="option?.correct"
        [selected]="isSelectedOption(option)"
        [options]="data?.options"
      ></codelab-quiz-option-feedback>-->

      <codelab-quiz-feedback
        *ngIf="showFeedback && selectedOption === option"
        [question]="currentQuestion"
        [selectedOption]="selectedOption"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [options]="data?.options"
      ></codelab-quiz-feedback>
    </label>
  </div>
</ng-container>
