@import "../../../../variables";

.summary-report {
  margin: 0 auto;
  border: 2px double $black;
  width: 32.5rem;
  clear: both;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 25px;

  .summary-report-header {
    text-align: center;
    font-weight: $font-weight-max;
  }

  .summary-icons {
    float: right;

    a {
      color: $gray;
      text-decoration: none;
    }

    .print {
      float: right;
      margin-top: -40px;
      margin-right: 60px;
    }

    .email {
      float: right;
      margin-top: -40px;
      margin-right: 35px;
    }

    .share {
      float: right;
      margin-top: -40px;
      margin-right: 10px;
    }
  }

  ul li {
    list-style-type: none;
  }

  .summary-stats-leader {
    font-weight: $font-weight-max;
    color: $green-angular-leaf;
    font-size: 16px;
  }

  .result {
    font-family: $font-stack;
    font-size: 20px;
  }

  .quiz-note {
    font-family: $font-stack;
    font-size: 16px;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    margin-left: 10px;
  }
}

.high-scores-heading {
  font-family: $font-stack;
  font-weight: $font-weight-max;
  text-align: center !important;
}

.high-scores {
  display: flex;
  justify-content: center;

  h2,
  tr th {
    text-align: center;
    font-weight: $font-weight-max;
  }

  table {
    display: block;
    width: 100%;
    margin-left: 20%;
    margin-bottom: 15px;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: $white-smoke;
    }
    tr:hover {
      background-color: $green;
    }
    tr th {
      text-transform: uppercase;
      border-bottom: 1px solid $black;
      background-color: $dark-green;
      color: white;
    }

    th,
    td {
      padding-right: 20px;
    }
  }
  table,
  tr th,
  tr td {
    font-family: $font-stack;
  }
}
