<ng-container i18n>
  <div
    class="options"
    *ngFor="
      let option of currentQuestion.options;
      index as i;
      trackBy: trackByFn
    "
  >
    <mat-radio-button
      (change)="updateSelectedOption(i)"
      [class]="option.styleClass"
      aria-label="Select option {{ i + 1 }}"
    >
      <span class="option-letter" i18n>{{ i + 1 }}.</span>&nbsp;
      <span class="option-text" i18n>{{ option.text }}</span>
      <codelab-quiz-option-feedback
        #feedback
        [correct]="option.correct"
        [selected]="option.selected"
      >
      </codelab-quiz-option-feedback>
    </mat-radio-button>

    <codelab-quiz-feedback
      *ngIf="option.selected"
      [option]="option"
      [correctMessage]="correctMessage"
    ></codelab-quiz-feedback>
  </div>
</ng-container>
