@import "../../../../variables";

.options {
  margin: 0 0 10px 0.4rem;
  padding: 5px;
  width: 630px;

  .single-answer {
    margin-top: 15px;

    mat-radio-button {
      cursor: pointer;
      width: 630px !important;
      height: auto !important;
      font-family: $font-stack;
      font-size: 20px !important;
      color: $dark-brown;
      background-color: $light-gray;
      border: 2px solid $medium-gray;
      padding: 10px 5px 5px 30px;
      margin-left: -5px;
      vertical-align: middle;

      &:hover {
        border: 2px solid $vivid-blue;
      }
    }

    mat-radio-button {
      height: 55px; // not changing
    }

    mat-radio-button:first-child {
      margin-top: -25px;
    }

    mat-radio-label {
      white-space: normal;
      margin-top: 5px;

      .feedback-icon {
        position: absolute;
        right: 0;
        margin: 5px 40px 0 0 !important;
      }
    }

    .messages {
      .sentiment-icon {
        display: inline;
        margin: 30px -50px 0 25px;
      }

      .message {
        margin-top: 20px;
      }

      .correct-message {
        margin-left: 10px;
      }

      .wrong-message {
        margin-top: -10px;

        .sentiment-icon {
          float: left;
          margin-top: -40px;
        }
      }
    }

    .is-correct {
      background-color: $green;
    }

    .is-incorrect {
      background-color: $red;
    }
  }
}
