<ng-content *ngIf="questionForm.valid"></ng-content>

<form [formGroup]="questionForm" [ngSwitch]="multipleAnswer">
  <codelab-question-single-answer
    *ngSwitchCase="!multipleAnswer"
    [question]="question"
    (answer)="updateSelectedOption($event)"
  >
  </codelab-question-single-answer>

  <codelab-question-multiple-answer
    *ngSwitchCase="multipleAnswer"
    [question]="question"
    (answer)="updateSelectedOption($event)"
  >
  </codelab-question-multiple-answer>
</form>
