<div *ngIf="questionForm">
  <ng-content *ngIf="questionForm.valid"></ng-content>
  <form *ngIf="currentQuestion$ | async as currentQuestion"
        [formGroup]="questionForm"
        [ngSwitch]="multipleAnswer">
    <codelab-question-single-answer
      *ngSwitchCase="!multipleAnswer"
      [question]="currentQuestion"
      [options]="currentQuestion?.options"
      [currentQuestionIndex]="currentQuestionIndex"
      (answer)="updateSelectedOption(selectedOption, i)"
    >
    </codelab-question-single-answer>

    <codelab-question-multiple-answer
      *ngSwitchCase="multipleAnswer"
      [form]="questionForm"
      [question]="currentQuestion"
      [currentQuestionIndex]="currentQuestionIndex"
      [options]="currentQuestion?.options"
      [selectedOption]="selectedOption"
      [correctAnswers]="correctAnswers"
      [correctMessage]="correctMessage"
      (answer)="updateClassName(selectedOption, i)"
    ></codelab-question-multiple-answer>
  </form>
</div>