@import "../../../variables";

.options {
  margin: 0 0 25px 6.5px;
  padding: 5px;

  mat-checkbox,
  mat-radio-button {
    display: flex;  // Use flexbox for better alignment
    align-items: center;  // Center items vertically
    cursor: pointer;
    // display: inline-block;
    width: 630px;
    height: auto !important;
    font-family: $font-stack;
    font-size: 20px;
    color: $dark-brown;
    background-color: $light-gray;
    border: 2px solid $medium-gray;
    padding: 5px 15px 0 30px; 
    margin-left: -5px !important;
    margin-bottom: 0px;
    padding-left: -25px !important;
    overflow: unset !important;

    &:hover {
      border: 2px solid $vivid-blue;
    }

    &:first-child {
      margin-top: -25px;
    }

    .option-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .option-text {
      flex-grow: 1;
      white-space: normal;
    }

    .icon {
      font-size: 18px;
      position: absolute;
      right: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .correct {
    background-color: $green;
  }

  .incorrect {
    background-color: $red;
  }

  .correct, .incorrect {
    border: 2px solid $vivid-blue;
  }

  span {
    white-space: normal;
    margin-top: 5px;
  }
}

// Hide the default checkbox and radio button elements
::ng-deep .mat-checkbox .mat-checkbox-frame,
::ng-deep .mat-checkbox .mat-checkbox-background,
::ng-deep .mat-radio-button .mat-radio-outer-circle,
::ng-deep .mat-radio-button .mat-radio-inner-circle,
::ng-deep .mat-radio-button .mat-radio-label-content .mat-radio-container {
  display: none !important;
}

::ng-deep .mat-checkbox-inner-container,
::ng-deep .mat-radio-container {
  display: none !important;
}

// Ensure the layout is correct
.mat-checkbox-layout,
.mat-radio-layout {
  display: block !important;
}