<ng-container class="timer-container">
  <div class="timer-menu-container">
    <button mat-button [matMenuTriggerFor]="timerMenu" aria-label="timer menu">
      <span class="timer-menu-button-text leader" i18n>Timer &#x25BC;</span>
    </button>
    <mat-menu #timerMenu="matMenu">
      <button
        mat-menu-item
        (click)="setTimerType(timerType.Countdown)"
        i18n="countdown"
      >
        Countdown
      </button>
      <button
        mat-menu-item
        (click)="setTimerType(timerType.Stopwatch)"
        i18n="stopwatch"
      >
        Stopwatch
      </button>
    </mat-menu>
  </div>
  <section class="scoreboard-timer">
    <span class="scoreboard" i18n>0:{{
      timeLeft$ | async | number: '2.0-0'
    }}</span>
  </section>
</ng-container>
