@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

.timer-container {
  float: right;
  margin-right: 2rem;

  .mat-menu {
    margin-left: -40px;

    .timer-menu-button-text,
    span.scoreboard-timer-text {
      margin: 0 0 0 40px;
    }
  }
}

.scoreboard-timer {
  margin-left: 5px;
  margin-top: -10px;
}

mat-toolbar {
  background: $white;
}
mat-toolbar:hover {
  background-color: $white !important;
}
mat-toolbar .timer-menu-button-text {
  margin-left: -35px !important;
  text-transform: uppercase;
  font-family: $font-stack;
  outline: none;
}
button {
  outline: none;
  text-transform: uppercase;
  font-family: $font-stack;
}

/* .time-left {
  float: right;
  width: 150px;

  .mat-menu {
    margin-left: -60px;

    .leader,
    span.scoreboard {
      margin: 0 0 0 -40px !important;
    }
  }
}

.scoreboard-timer {
  margin-left: -10px;
  margin-top: -10px;
}

mat-toolbar {
  background-color: $white;
}
mat-toolbar:hover {
  background-color: $white !important;
}
mat-toolbar .leader {
  margin-left: -40px !important;
}
button {
  outline: none;
  text-transform: uppercase;
  font-family: $font-stack;
} */
