<!--<section *ngIf="currentQuestion$ | async as currentQuestion" id="question">
  <h3 question-content>
    <ng-container>
      {{
        (explanationText$ | async) ||
        getQuestionText(currentQuestion, questions)
      }}

      <ng-container
        *ngIf="numberOfCorrectAnswers$ | async as numberOfCorrectAnswers"
      >
        <span
          class="number-correct"
          *ngIf="shouldDisplayNumberOfCorrectAnswersCount()"
        >
          {{ getNumberOfCorrectAnswersText(numberOfCorrectAnswers) }}
        </span>
      </ng-container>
    </ng-container>
  </h3>
</section>-->

<!--<section *ngIf="combinedData$ | async as combinedData" id="question">
  <h3 question-content>
    {{ combinedData }}

  </h3>
</section>-->

<!--<section *ngIf="combinedData$ | async as data" id="question">
  <h3 question-content>
    <span>{{ data.questionText }}</span>

    <ng-container *ngIf="data.correctAnswersText">
      <span class="correct-answers">{{ data.correctAnswersText }}</span>
    </ng-container>
  </h3>
</section>-->

<!--<section *ngIf="combinedData$ | async as data" id="question">
  <h3 question-content>
    <span>{{ data.questionText }}</span>
  </h3>
</section>-->

<!--<section *ngIf="combinedData$ | async as combinedText" id="question">
  <h3 question-content>
    <span [class.green-italic]="!!combinedText">{{ combinedText }}</span>
  </h3>
</section>-->

<!--<section *ngIf="combinedData$ | async as data" id="question">
  <h3 question-content>
    <span [innerHTML]="data.questionText + data.correctAnswersText"></span>
  </h3>
</section>-->


<!--<section *ngIf="combinedData$ | async as combinedText" id="question">
  <h3 question-content>
    <span [innerHTML]="combinedText"></span>
  </h3>
</section>-->

<section *ngIf="combinedData$ | async as data" id="question">
  <h3 question-content>
    <!-- Display the question text -->
    <span>{{ data?.questionText }} </span>
    <!-- Display the number of correct answers text with appropriate styling -->
    <span [innerHTML]="data?.correctAnswersText" class="number-correct"></span>
  </h3>
</section>




