<ng-container *ngIf="optionsToDisplay?.length; else noOptions">
  <div *ngFor="let option of optionsToDisplay; let idx = index; trackBy: trackByOption">
    <label class="options">
      <ng-container [ngSwitch]="type">
        <mat-checkbox *ngSwitchCase="'multiple'"
          appHighlightOption
          [option]="option"
          [isCorrect]="option.correct"
          [showFeedbackForOption]="showFeedbackForOption"
          [highlightCorrectAfterIncorrect]="highlightCorrectAfterIncorrect"
          [allOptions]="optionsToDisplay"
          [appHighlightInputType]="'checkbox'"
          [appHighlightReset]="shouldResetBackground"
          [appResetBackground]="shouldResetBackground"
          [optionsToDisplay]="optionsToDisplay"
          [showFeedback]="showFeedback"
          [isSelected]="isSelectedOption(option)"
          [checked]="isSelectedOption(option)"
          (change)="handleOptionClick(option, idx)"
          [disabled]="option.selected"
          [attr.aria-label]="'Option ' + (idx + 1)">
          <ng-container *ngTemplateOutlet="optionContent; context: {option: option, idx: idx}"></ng-container>
        </mat-checkbox>
        
        <mat-radio-button *ngSwitchCase="'single'"
          appHighlightOption
          [option]="option"
          [isCorrect]="option.correct"
          [showFeedbackForOption]="showFeedbackForOption"
          [highlightCorrectAfterIncorrect]="highlightCorrectAfterIncorrect"
          [allOptions]="optionsToDisplay"
          [appHighlightInputType]="'radio'"
          [appHighlightReset]="shouldResetBackground"
          [appResetBackground]="shouldResetBackground"
          [optionsToDisplay]="optionsToDisplay"
          [showFeedback]="showFeedback"
          [isSelected]="isSelectedOption(option)"
          [checked]="isSelectedOption(option)"
          (change)="handleOptionClick(option, idx)"
          [disabled]="option.selected"
          [attr.aria-label]="'Option ' + (idx + 1)">
          <ng-container *ngTemplateOutlet="optionContent; context: {option: option, idx: idx}"></ng-container>
        </mat-radio-button>
      </ng-container>
      
      <codelab-quiz-feedback
        *ngIf="showFeedback && selectedOption === option"
        [question]="currentQuestion"
        [selectedOption]="selectedOption"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [feedback]="feedback"
        [options]="data?.options">
      </codelab-quiz-feedback>
    </label>
  </div>
</ng-container>

<!-- option content template -->
<ng-template #optionContent let-option="option" let-idx="idx">
  <div class="option-content">
    <span class="option-text" 
      [ngStyle]="optionTextStyle">
      {{ idx + 1 }}. {{ option?.text }}
    </span>
    <mat-icon *ngIf="isIconVisible(option)"
      class="material-icons icon" 
      [ngClass]="getOptionIconClass(option)">
      {{ getOptionIcon(option) }}
    </mat-icon>
  </div>
</ng-template>

<ng-template #noOptions>
  <p>No options available.</p>
</ng-template>