<ng-container *ngIf="optionsToDisplay && optionsToDisplay.length > 0; else noOptions">
  <div *ngFor="let option of optionsToDisplay; let idx = index; trackBy: trackByOption">
    <label class="options">
      <ng-container [ngSwitch]="type">
        <mat-checkbox *ngSwitchCase="'multiple'"
          appHighlightOption
          [appHighlightInputType]="'checkbox'"
          [appHighlightReset]="shouldResetBackground"
          [appResetBackground]="shouldResetBackground"
          [shouldResetBackground]="shouldResetBackground"
          [checked]="isSelectedOption(option)"
          (click)="handleOptionClick(option, idx)"
          [isCorrect]="option.correct"
          [selectedOption]="selectedOption"
          [option]="option"
          [disabled]="option.selected">
          <div class="option-content">
            <span class="option-text">{{ idx + 1 }}. {{ option?.text }}</span>
            <span class="feedback-icon">{{ getFeedbackIcon(option, idx) }}</span>
          </div>
        </mat-checkbox>
        
        <mat-radio-button *ngSwitchCase="'single'"
          appHighlightOption
          [appHighlightInputType]="'radio'"
          [appHighlightReset]="shouldResetBackground"
          [appResetBackground]="shouldResetBackground"
          [shouldResetBackground]="shouldResetBackground"
          [checked]="isSelectedOption(option)"
          (click)="handleOptionClick(option, idx)"
          [isCorrect]="option.correct"
          [selectedOption]="selectedOption"
          [option]="option"
          [disabled]="option.selected">
          <div class="option-content">
            <span class="option-text">{{ idx + 1 }}. {{ option?.text }}</span>
            <span class="feedback-icon">{{ getFeedbackIcon(option, idx) }}</span>
          </div>
        </mat-radio-button>
      </ng-container>
      
      <codelab-quiz-feedback
        *ngIf="showFeedback && selectedOption === option"
        [question]="currentQuestion"
        [selectedOption]="selectedOption"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [feedback]="feedback"
        [options]="data?.options">
      </codelab-quiz-feedback>
    </label>
  </div>
</ng-container>

<ng-template #noOptions>
  <span>No options available</span>
</ng-template>