<ng-container *ngIf="optionsToDisplay?.length; else noOptions">
  <div *ngFor="let optionBinding of optionBindings; let idx = index; trackBy: trackByOption">
    <label class="options">
      <ng-container [ngSwitch]="type">
        <mat-checkbox *ngSwitchCase="'multiple'"
          appHighlightOption
          [attr.aria-label]="optionBinding.ariaLabel"
          [isSelected]="optionBinding.isSelected"
          [isCorrect]="optionBinding.option.correct"
          [showFeedback]="showFeedback"
          [checked]="optionBinding.isSelected"
          [disabled]="optionBinding.disabled"
          (change)="optionBinding.change()"
          (click)="onOptionClicked(optionBinding.option, idx); $event.stopPropagation()">
          <ng-container *ngTemplateOutlet="optionContent; context: {option: optionBinding.option, idx: idx}"></ng-container>
        </mat-checkbox>
        
        <mat-radio-button *ngSwitchCase="'single'"
          appHighlightOption
          [attr.aria-label]="optionBinding.ariaLabel"
          [isSelected]="optionBinding.isSelected"
          [isCorrect]="optionBinding.option.correct"
          [showFeedback]="showFeedback"
          [checked]="optionBinding.isSelected"
          [disabled]="optionBinding.disabled"
          (change)="optionBinding.change()"
          (click)="onOptionClicked(optionBinding.option, idx); $event.stopPropagation()"
          >
          <ng-container *ngTemplateOutlet="optionContent; context: {option: optionBinding.option, idx: idx}"></ng-container>
        </mat-radio-button>
      </ng-container>
      
      <codelab-quiz-feedback
        *ngIf="showFeedback && selectedOption === optionBinding.option"
        [question]="currentQuestion"
        [selectedOption]="selectedOption"
        [correctMessage]="correctMessage"
        [showFeedback]="showFeedback"
        [feedback]="feedback"
        [options]="data?.options">
      </codelab-quiz-feedback>
    </label>
  </div>
</ng-container>

<!-- option content template -->
<ng-template #optionContent let-option="option" let-idx="idx">
  <div class="option-content">
    <span class="option-text" 
      [ngStyle]="optionTextStyle">
      {{ getOptionDisplayText(option, idx) }}
    </span>
    <mat-icon *ngIf="isIconVisible(option)"
      class="material-icons icon" 
      [ngClass]="getOptionIconClass(option)">
      {{ getOptionIcon(option) }}
    </mat-icon>
  </div>
</ng-template>

<ng-template #noOptions>
  <p>No options available.</p>
</ng-template>