<ng-container [ngSwitch]="questionType">
  <!-- Multiple Answer Logic -->
  <ng-container *ngSwitchCase="'multiple'">
    <codelab-question-multiple-answer
      [form]="questionForm"
      [data]="data"
      [question]="questionToDisplay"
      [questions]="questions"
      [questionData]="questionData"
      [currentQuestion$]="currentQuestion$"
      [currentQuestionIndex]="currentQuestionIndex"
      [options]="getOptionsForQuestion()"
      [optionsToDisplay]="optionsToDisplay"
      [selectedOptions]="currentQuestion?.selectedOptions"
      [correctAnswers]="correctAnswers"
      [correctMessage]="correctMessage"
      (answer)="updateClassName($event)"
    ></codelab-question-multiple-answer>
  </ng-container>

  <!-- Single Answer Logic -->
  <ng-container *ngSwitchCase="'single'">
    <codelab-question-single-answer
      [data]="data"
      [question]="questionToDisplay"
      [questions]="questions"
      [questionData]="questionData"
      [options]="getOptionsForQuestion()"
      [optionsToDisplay]="optionsToDisplay"
      [currentQuestion]="currentQuestion"
      [currentQuestionIndex]="currentQuestionIndex"
      [selectedOption]="currentQuestion?.selectedOption"
      [correctMessage]="correctMessage"
      (answer)="updateClassName($event)"
    ></codelab-question-single-answer>
  </ng-container>
</ng-container>
