<ng-container *ngIf="optionBindings?.length; else noOptions">
  <form [formGroup]="form">
    <div *ngFor="let b of optionBindings; let i = index; trackBy: trackByOption">

      <!-- wrapper the directive paints -->
      <label class="option-row options"
             appHighlightOption
             [optionBinding]="b">

        <!-- radio OR checkbox -->
        <mat-radio-button  *ngIf="b.type === 'single'"
                           [value]="b.option.optionId"
                           (pointerdown)="handleRadio(b,i,$event)">
          {{ getOptionDisplayText(b.option, i) }}
        </mat-radio-button>

        <mat-checkbox     *ngIf="b.type === 'multiple'"
                          [checked]="b.option.selected"
                          (change)="onMatCheckboxChanged(b,i,$event)">
          {{ getOptionDisplayText(b.option, i) }}
        </mat-checkbox>

        <!-- icon parked right after the label text -->
        <mat-icon *ngIf="shouldShowIcon(b.option)"
                  class="opt-icon">
          {{ getOptionIcon(b.option) }}
        </mat-icon>

        <!-- feedback under the same row, but we want it full-width -->
      </label>

      <!-- put feedback in its own block, beneath the row -->
      <codelab-quiz-feedback
        *ngIf="shouldShowFeedback(i)"
        [feedbackConfig]="feedbackConfigs[i]">
      </codelab-quiz-feedback>

    </div>
  </form>
</ng-container>

<ng-template #noOptions><p>No options available.</p></ng-template>