<ng-container *ngIf="optionBindings?.length; else noOptions">
  <form [formGroup]="form">

    <!-- works for both single and multiple -->
    <div *ngFor="let b of optionBindings; let i = index; trackBy: trackByOption">

      <!-- wrapper gets the directive -->
      <label class="options"
             appHighlightOption
             [optionBinding]="b">

        <!-- SINGLE answer uses radio -->
        <mat-radio-button  *ngIf="b.type === 'single'"
                           [value]="b.option.optionId"
                           (pointerdown)="handleRadio(b,i,$event)">
          <span class="option-text">
            {{ getOptionDisplayText(b.option, i) }}
          </span>
        </mat-radio-button>

        <!-- MULTI answer uses checkbox -->
        <mat-checkbox     *ngIf="b.type === 'multiple'"
                          [checked]="b.option.selected"
                          (change)="onMatCheckboxChanged(b,i,$event)">
          <span class="option-text">
            {{ getOptionDisplayText(b.option, i) }}
          </span>
        </mat-checkbox>

        <!-- icon sits inside the same wrapper = same background -->
        <mat-icon *ngIf="shouldShowIcon(b.option)"
                  class="option-icon">
          {{ getOptionIcon(b.option) }}
        </mat-icon>

        <!-- one feedback per option -->
        <codelab-quiz-feedback
          *ngIf="shouldShowFeedback(i)"
          [feedbackConfig]="feedbackConfigs[i]">
        </codelab-quiz-feedback>

      </label>
    </div>

  </form>
</ng-container>

<ng-template #noOptions><p>No options available.</p></ng-template>
