<ng-container *ngIf="optionBindings?.length; else noOptions">
  <form [formGroup]="form">

    <!-- SINGLE-ANSWER MODE -->
    <div *ngIf="optionBindings[0].type === 'single'">
      <div *ngFor="let b of optionBindings; let i = index; trackBy: trackByOption">
        <label class="options">
          <mat-radio-button
            #rb
            [value]="b.option.optionId"
            [checked]="b.option.selected"
            (click)="onRadioClickFallback(rb, b, i)"
            appHighlightOption
            [optionBinding]="b"
          >
            {{ getOptionDisplayText(b.option, i) }}
            <mat-icon *ngIf="shouldShowIcon(b.option)" class="option-icon">
              {{ getOptionIcon(b.option) }}
            </mat-icon>
          </mat-radio-button>

          <codelab-quiz-feedback
            *ngIf="shouldShowFeedback(i)"
            [feedbackConfig]="feedbackConfigs[i]"
          ></codelab-quiz-feedback>
        </label>
      </div>
    </div>

    <!-- MULTIPLE-ANSWER MODE -->
    <div *ngIf="optionBindings[0].type === 'multiple'">
      <div *ngFor="let b of optionBindings; let i = index; trackBy: trackByOption">
        <label class="options">
          <mat-checkbox
            [checked]="b.option.selected"
            (change)="onMatCheckboxChanged(b, i, $event)"
            appHighlightOption
            [optionBinding]="b"
          >
            {{ getOptionDisplayText(b.option, i) }}
            <mat-icon *ngIf="shouldShowIcon(b.option)" class="option-icon">
              {{ getOptionIcon(b.option) }}
            </mat-icon>
          </mat-checkbox>

          <codelab-quiz-feedback
            *ngIf="shouldShowFeedback(i)"
            [feedbackConfig]="feedbackConfigs[i]"
          ></codelab-quiz-feedback>
        </label>
      </div>
    </div>

  </form>
</ng-container>

<ng-template #noOptions>
  <p>No options available.</p>
</ng-template>
