@import "../../../_variables.scss";

.scoreboard {
  margin-top: 10px;

  .row {
    display: inline-flex;
  }

  .scoreboard-score {
    float: left;
    margin-left: 1rem;
  }

  .scoreboard-time {
    float: left;
    margin-left: 0.7rem;
  }

  .badge {
    float: left;
    margin: 30px 10px 0 85px;
    font-family: $font-stack;
    font-size: 26px;
    font-weight: $font-weight-max;
    font-style: italic;
    color: $dark-green;
    border-radius: 8px;
    padding: -10px 0;
  }
}
