<section class="scoreboard">
  <div class="row">
    <codelab-scoreboard-score
      [correctAnswersCount]="correctAnswersCount"
      [totalQuestions]="totalQuestions"
    ></codelab-scoreboard-score>
    
    <codelab-scoreboard-badge
      [badgeQuestionNumber]="badgeQuestionNumber";
      [totalQuestions]="totalQuestions";
      [questionIndex]="questionIndex";
    ></codelab-scoreboard-badge>
    
    <codelab-scoreboard-timer></codelab-scoreboard-timer>
  </div>
</section>
