@import '../../../variables';

.timer-container {
  float: left;
  margin-left: 2rem;
}

.timer-menu-container .mat-menu {
  margin-left: -40px;
}

.scoreboard-timer {
  margin-left: 5px;
  margin-top: -10px;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  clear: both;

  .scoreboard-score {
    margin-left: 1.7rem;
  }

  .scoreboard-time {
    margin-right: -0.5rem;
  }

  .badge {
    font-family: $font-stack;
    font-size: 26px;
    font-weight: $font-weight-max;
    font-style: italic;
    color: $dark-green;
    margin: 30px 0 0 -25px;
    padding: -10px 0;
  }
}
