<section class="message" *ngIf="feedbackConfig?.showFeedback; else noFeedback">
  <div class="feedback-message" [ngClass]="feedbackMessageClass">
    <mat-icon class="material-icons" *ngIf="feedbackConfig?.selectedOption?.correct; else wrongIcon">
      sentiment_very_satisfied
    </mat-icon>
    <ng-template #wrongIcon>
      <mat-icon class="material-icons wrong-icon">
        sentiment_very_dissatisfied
      </mat-icon>
    </ng-template>
    
    <span>{{ displayMessage }}</span>
  </div>
</section>

<ng-template #noFeedback>
  <p>Feedback is not being shown.</p>
</ng-template>