$font-stack: Space Mono, monospace;
$font-weight-max: 900;
$color-red: #ff0000;
$color-dark-blue: #4267b2;
$color-vivid-blue: #007aff;
$color-soft-blue: #59adeb;
$color-chambray-blue: #385d8a;
$color-green: #00c853;
$color-dark-green: #006400;
$color-pastel-green: #81e081;
$color-fuel-yellow: #f0a121;
$color-light-yellow: #fddc30;
$color-gray: #808080;
$color-medium-gray: #979797;
$color-light-gray: #f5f5f5;
$color-black: #0f0000;
$color-dark-brown: #0f0900;
