<ng-container>
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">

    <!-- Dynamic component container -->
    <!--<div *ngIf="isContentAvailable$ | async">
      <div #dynamicAnswerContainer></div>
    </div>-->

    <div #dynamicAnswerContainer></div>

    <!-- Loading spinner -->
    <div *ngIf="isLoading" class="loading-spinner" aria-label="Loading">
      <!-- Enable spinner -->
    </div>
  </form>

  <app-answer
    [optionsToDisplay]="optionsToDisplay"
    [currentQuestionIndex]="currentQuestionIndex"
    (optionClicked)="onOptionClicked($event)">
  </app-answer>
</ng-container>
