<ng-container *ngIf="shouldRenderComponent">
<div style="min-height: 400px;"> <!-- Adjust this height as needed -->
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">

    <!-- Dynamic component container -->
    <ng-container #dynamicAnswerContainer></ng-container>

    <!-- Loading spinner -->
    <div *ngIf="isLoading" class="loading-spinner" aria-label="Loading">
      <!-- You can re-enable spinner -->
    </div>

    <!-- Options content -->
    <div *ngIf="shouldRenderOptions && areOptionsReadyToRender" class="options-container">
      <div *ngFor="let optionBinding of optionBindings; trackBy: trackByOption">
        <app-shared-option
          *ngIf="sharedOptionConfig"
          [disabled]="!optionBinding.active"
          [config]="sharedOptionConfig"
          [option]="optionBinding"
          [options]="optionsToDisplay"
          [optionBinding]="optionBinding"
          [showFeedback]="showFeedback"
          (optionSelected)="onOptionClicked($event)"
          (feedbackApplied)="updateFeedbackState($event)"
        ></app-shared-option>
      </div>
    </div>
  </form>
</div>
</ng-container>
