<ng-container *ngIf="shouldRenderComponent">
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <!-- Dynamic component container -->
    <ng-container #dynamicAnswerContainer></ng-container>

    <!-- Loading spinner -->
    <div *ngIf="isLoading" class="loading-spinner" aria-label="Loading">
      <!--<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
    </div>

    <!-- Options content -->
    <div *ngIf="shouldDisplayOptions" class="options-container">
      <div *ngFor="let optionBinding of optionBindings; trackBy: trackByOption">
        <app-shared-option></app-shared-option>
      </div>
    </div>
  </form>
</ng-container>