<ng-container *ngIf="selectedQuiz$ | async as selectedQuiz; else loading">
  <mat-card *ngIf="selectedQuiz.milestone; else loading">
    <mat-card-header>
      <img mat-card-avatar class="header-image" loading="lazy" />
      <mat-card-title-group>
        <mat-card-title i18n>
          {{ selectedQuiz?.milestone }} Quiz
        </mat-card-title>
        <mat-card-subtitle i18n>
          <span
            >How well versed are you in
            {{ selectedQuiz?.milestone }}? Take the quiz and find out!
          </span>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <img
      mat-card-image
      class="quiz-topic-image"
      [src]="selectedQuiz?.image || 'assets/default-image.jpg'"
      alt="Quiz topic image"
      loading="lazy"
    />

    <mat-card-content>
      <div class="intro-text" i18n>
        <p>
          <strong class="bold-text">{{ selectedQuiz?.summary }}</strong>
        </p>
        <p style="text-align: center">
          Test your wits with <strong class="bold-text">{{
          selectedQuiz?.questions.length
        }}</strong> timed multiple-choice {{ questionLabel }}! Have fun and share!
        </p>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <form [formGroup]="preferencesForm" class="intro-preferences" novalidate>
        <!-- "Shuffle Questions and Answers" slide toggle -->
        <mat-slide-toggle
          formControlName="shouldShuffleOptions"
          (change)="onSlideToggleChange($event)"
          [checked]="highlightPreference"
          [disableRipple]="true"
          aria-label="Shuffle questions and answers"
        >
          Turn on shuffle
        </mat-slide-toggle><br>

        <button
          *ngIf="selectedQuiz"
          type="button"
          mat-raised-button
          color="primary"
          class="btn btn-outline-primary"
          [disabled]="isStartingQuiz"
          (click)="onStartQuiz(selectedQuiz?.quizId)"
          aria-label="Start the Quiz"
        >
          <span i18n
            ><strong>Start the Quiz!</strong>&nbsp;<mat-icon inline="true"
              >play_arrow</mat-icon
            ></span
          >
        </button>
      </form>
    </mat-card-actions>
  </mat-card>

  <ng-template #loading>
    <p>Loading&hellip;</p>
  </ng-template>
</ng-container>
