<ng-container *ngIf="selectedQuiz$ | async as selectedQuiz; else loading">
  <mat-card *ngIf="selectedQuiz.milestone; else loading">
    <mat-card-header>
      <img mat-card-avatar class="header-image" loading="lazy" />
      <mat-card-title-group>
        <mat-card-title i18n>
          {{ selectedQuiz?.milestone }} Quiz
        </mat-card-title>
        <mat-card-subtitle i18n>
          <span
            >How well versed are you in
            {{ selectedQuiz?.milestone }}? Take the quiz and find out!
          </span>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <img
      mat-card-image
      class="quiz-topic-image"
      [src]="selectedQuiz?.image || 'assets/default-image.jpg'"
      alt="Quiz topic image"
      loading="lazy"
    />

    <mat-card-content>
      <div class="intro-text" i18n>
        <p>
          <strong class="bold-text">{{ selectedQuiz?.summary }}</strong>
        </p>
        <p>
          This quiz is composed of
          <strong class="bold-text">{{
            selectedQuiz?.questions.length
          }}</strong>
          timed multiple-choice
          {{ questionLabel }}. Beat the clock and match wits with your friends!
        </p>
        <p style="text-align: center; font-weight: 700">Good luck and have fun with this quiz! Share and enjoy!</p>
      </div>
    </mat-card-content>

    <mat-card-actions [formGroup]="preferencesForm">
      <!-- Shuffle Questions and Answers Checkbox -->
      <mat-checkbox style="font: Aptos"
        formControlName="shouldShuffleOptions"
        (change)="onCheckboxChange($event)"
        [checked]="highlightPreference"
        disableRipple="true" capture
        aria-label="Shuffle questions and answers">
        Shuffle questions and answers
      </mat-checkbox>

      <!-- Immediate Feedback Checkbox -->
      <mat-checkbox 
        formControlName="isImmediateFeedback"
        [checked]="highlightPreference"
        disableRipple="true" capture
        aria-label="Enable immediate feedback">
        Enable immediate feedback
      </mat-checkbox>

      <mat-button
        *ngIf="selectedQuiz"
        type="button"
        mat-raised-button
        routerLinkActive="active"
        disableRipple="true"
        name="start quiz"
        class="btn btn-outline-primary"
        (click)="onStartQuiz(selectedQuiz?.quizId)"
        aria-label="Enable Immediate Feedback (Next button only for correct answers)"
      >
        <span i18n
          ><strong>Start the Quiz!</strong>&nbsp;<mat-icon inline="true"
            >play_arrow</mat-icon
          ></span
        >
      </mat-button>
    </mat-card-actions>
  </mat-card>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</ng-container>
