<ng-container *ngIf="selectedQuiz$ | async as selectedQuiz; else loading">
<mat-card *ngIf="selectedQuiz.milestone; else loading">
  <mat-card-header>
    <img mat-card-avatar class="header-image" loading="lazy" />
    <mat-card-title-group>
      <mat-card-title>
        {{ selectedQuiz?.milestone }} Quiz
      </mat-card-title>
      <mat-card-subtitle>
        <span>
          How well versed are you in {{ selectedQuiz?.milestone }}?
        </span>
        <span>Take the quiz and find out!</span>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <img
    mat-card-image
    class="quiz-topic-image"
    [src]="selectedQuiz?.image || 'assets/default-image.jpg'"
    alt="Quiz topic image"
    loading="lazy"
  />

  <mat-card-content>
    <div class="intro-text">
      <p>
        <strong class="bold-text">{{ selectedQuiz?.summary }}</strong>
      </p>
      <p>
        This quiz is composed of
        <strong class="bold-text">
          {{ selectedQuiz?.questions?.length || 0 }}
        </strong>
        timed multiple-choice questions.
      </p>
      <p>
        Taking this quiz should solidify your understanding of
        {{ selectedQuiz?.milestone }}; beat the clock and match wits with your
        friends!
      </p>
      <p>Good luck and have fun with this quiz. Share and enjoy!</p>
    </div>
  </mat-card-content>

  <mat-card-actions [formGroup]="preferencesForm">
    <mat-checkbox
      style="font: Aptos"
      formControlName="shouldShuffleOptions"
      disableRipple="true"
      aria-label="Shuffle questions and answers"
    >
      <strong>Shuffle questions and answers</strong>
    </mat-checkbox>

    <mat-checkbox
      style="font: Aptos"
      formControlName="isImmediateFeedback"
      disableRipple="true"
      aria-label="Enable Immediate Feedback (Next button only for correct answers)"
    >
      <strong>Enable Immediate Feedback<br />(Next button only for correct answers)</strong>
    </mat-checkbox>

    <button
      *ngIf="selectedQuiz"
      type="button"
      mat-raised-button
      formControlName="isImmediateFeedback"
      routerLinkActive="active"
      disableRipple="true"
      name="start quiz"
      class="btn btn-outline-primary"
      (click)="onStartQuiz(selectedQuiz?.quizId)"
      aria-label="Enable Immediate Feedback (Next button only for correct answers)"
    >
      <span>
        <strong>Start the Quiz!</strong>&nbsp;<mat-icon inline="true">play_arrow</mat-icon>
      </span>
    </button>
  </mat-card-actions>
</mat-card>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
</ng-container>
